*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightcyan;
}

main{
    background-color: tranparent;
    display: flex;
    justify-content: center;
    padding-top: 350px;
}

/* #nome{
    background-color: lightblue;
    height: 45px;
    border-radius: 9px;
    border: none;
    font-size: 15px;
    text-align: center;
    color: rgb(98, 190, 221);
    transition: 400ms ease;
}

#nome:hover{
    box-shadow: 3px 3px 5px rgb(98, 190, 221);
}

#nome:focus {
    outline: none;
}


#nome::placeholder{
    color: lightcyan;
    text-align: center;
    font-size: 15px;
} */

.align{
    align-items: center;
}

.espacamento{
    margin: 10px;
}

.botao1{
    background-color: transparent;
    border: 1px transparent solid;
    border-radius: 15px;
    font-size: 15px;
    color: rgb(98, 190, 221);
    text-align: center;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transition: 400ms ease-in-out;

}

.botao1:hover{
    background-color: rgb(98, 190, 221);
    box-shadow: 3px 5px 10px rgb(98, 190, 221);
    border: 1px solid rgb(98, 190, 221);
    color: lightcyan;
    text-shadow: 3px 3px 5px rgb(98, 190, 221);
}

/* .botao2{
    background-color: transparent;
    border: 1px transparent solid;
    border-radius: 15px;
    font-size: 15px;
    color: lightblue;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transition: 400ms ease-in-out;

}

.botao2:hover{
    background-color: lightcyan;
    box-shadow: 3px 5px 10px rgb(98, 190, 221);
    border: 1px solid lightblue;
    color: lightblue;
    text-shadow: 3px 3px 5px lightblue;
}

.botao3{
    background-color: transparent;
    border: 1px transparent solid;
    border-radius: 15px;
    font-size: 15px;
    color: lightblue;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transition: 400ms ease-in-out;

}

.botao3:hover{
    background-color: lightcyan;
    box-shadow: 3px 5px 10px rgb(98, 190, 221);
    border: 1px solid lightblue;
    color: lightblue;
    text-shadow: 3px 3px 5px lightblue;
}

.botao4{
    background-color: transparent;
    border: 1px transparent solid;
    border-radius: 15px;
    font-size: 15px;
    color: lightblue;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transition: 400ms ease-in-out;

}

.botao4:hover{
    background-color: lightcyan;
    box-shadow: 3px 5px 10px rgb(98, 190, 221);
    border: 1px solid lightblue;
    color: lightblue;
    text-shadow: 3px 3px 5px lightblue;
}

 */
